.Bannermain {
  max-width: 100%;
  width: 100%;
  min-height: 960px;
  height: 100%;
  background-color: #f6f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerdiv {
  max-width: 570px;
  width: 100%;
  min-height: 470px;
  height: 100%;
}
.headerdiv h1 {
  font-family: "Rufina-Bold";
  color: #00082e;
}

.headerdiv p {
  font-family: "Rubik-Regular";
  color: #00082e;
  text-align: justify;
}
.headerdiv button {
  max-width: 270px;
  width: 100%;
  height: 70px;
  color: white;
  background-color: #ff3a4a;
  font-family: "Rubik-Regular";
  font-weight: bold;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 25px;
  cursor: pointer;
}
@media only screen and (min-width: 0) {
  .headerdiv {
    margin-right: 0;
  }
  .Bannermain {
    flex-direction: column-reverse;
  }
  .Bannermain > img {
    width: 300px;
    min-height: 100%;
    height: 100%;
  }
  .headerdiv {
    text-align: center;
    margin-top: 3.5rem;
  }
  .headerdiv h1 {
    font-size: 40px;
    padding: 0 1rem;
  }
  .headerdiv p {
    padding: 50px 76px;
    font-size: 19px;
  }
}
@media only screen and (min-width: 500px) {
  .Bannermain > img {
    width: 500px;
  }
}
@media only screen and (min-width: 900px) {
  .headerdiv {
    margin-right: 2rem;
  }
  .Bannermain {
    flex-direction: row;
  }
  .Bannermain > img {
    width: 500px;
  }
  .headerdiv {
    text-align: left;
    margin-top: 0;
  }
  .headerdiv h1 {
    padding: 0 0;
    font-size: 55px;
  }
  .headerdiv p {
    padding: 50px 0;
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  .Bannermain > img {
    width: 550px;
  }
}

@media only screen and (min-width: 1500px) {
  .Bannermain > img {
    width: 650px;
  }
}

@media only screen and (min-width: 1500px) {
  .Bannermain > img {
    width: 870px;
  }
}
