.header {
  max-width: 100%;
  width: 100%;
  background-color: lightblue;
  min-height: 120px;
  height: 100%;

  align-items: center;
}
.header nav ul,
.hambergurmenu nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav ul li:first-child {
  padding-left: 30px !important;
}

.header nav ul li,
.hambergurmenu nav ul li {
  padding: 0 15px 0 15px;
  cursor: pointer;
  display: block;
}
.header nav ul li a,
.hambergurmenu nav ul li a {
  font-family: "Rubik-Regular";
  font-size: 18px;
  padding: 10px;
  color: #00082e;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition-duration: 0;
}

.header nav ul li a:hover,
.hambergurmenu nav ul li a:hover {
  background-color: #ff3a4a;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  color: white;
}
.header img {
  width: 270px;
}

@media only screen and (min-width: 0) {
  .header nav {
    display: none;
  }
  .header {
    display: flex;
    justify-content: flex-end;
  }
  .hambergurmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #ff3a4a;
    display: flex;
    flex-direction: column;
    z-index: 90;
    transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
  }
  .hambergurmenu nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 15px 0 15px;
  }
  .hambergurmenu nav ul li {
    padding-top: 25px;
  }
  .hambergurmenu nav ul li a {
    color: white;
  }
  .hambergurmenu nav ul li a:hover {
    background-color: white;
    color: #ff3a4a;
  }
}
@media only screen and (min-width: 900px) {
  .header nav {
    display: flex;
  }
  .header {
    justify-content: space-between;
  }
  .hambergurmenu {
    display: none;
  }
}
@media only screen and (min-width: 500px) {
}
